# Interger 
Angka bulat seperti 1,2,3,4,5...

In [2]:
print(1)
print(type(1))

1
<class 'int'>

# Float
Angka tidak bulat seperti 2.5,  3.2

In [4]:
print (3.2)
print (type(3.2))

3.2
<class 'float'>

# String
kumpulan karakter (harus menggunakan kutip)
-' (kutip satu)
-" (kutip dua)

In [10]:
print(" Toys r' us")
print('Toys r us')

 Toys r' us
Toys r us

# Boolean 
True or false

In [31]:
print(True,False)
print (type(True), type(False))

True False
<class 'bool'> <class 'bool'>

Convert tipe data
- int -> float
- int -> str
- int -> bool
- float -> int
- float -> str 
- float -> bool

2

# variable
memberi nama ke data
"assign" atau "assign variable" agar bisa dipanggil lagi

In [35]:
nama = "Toys 'R Us"

In [37]:
print(nama)

Toys 'R Us

In [38]:
angka = 8

In [39]:
print(angka)

8

In [40]:
print(angka+7)

15

In [50]:
# Variable yang belum ada isi berarti None
toko = None

In [51]:
# varuavke bisa diganti "Re-assign"
toko = "toko kue kering"

In [52]:
print (toko)

toko kue kering

In [53]:
name = "Ihsan"
age = 16

In [54]:
print(name,age)

Ihsan 16

## Peraturan Variable
1. Variable tidak boleh dimuali dengan angka
2. saat memberi nama, gunakan snake_case:
    - huruf kecil semua
    - spasi digantikan _
3. contoh name_of_school

In [56]:
name_of_school = "Madina Islamic School"

In [57]:
print(name_of_school)

Madina Islamic School

# manipulasi dara dengan Operator dan Expression Python
1. Manipulasi angka dengan operator matematika

In [60]:
a = 10
b = 7

print (a + b)
print (a - b)
print (a * b)
print (a / b) 
print (a % b) # modulo
print (a ** b) # pangkat

17
3
70
1.4285714285714286
3
10000000

In [67]:
a = 10
b = 7

# apakah a sama atau beda dengan b 
print (a == b)
print (a != b)

# apakah a lebih besar/kecil dari b
print (a < b)
print (a > b)
print (a <= b)
print (a >= b)

False
True
False
True
False
True

3. manipulasi string dengan operator matematika

In [77]:
a = "andi"

print(a + " bilang halo")
print(a*3)

andi bilang halo
andiandiandi

5. Operator khusus string untuk ubah case
- upper
- lower
- swapcase
- title
- capitalize

In [78]:
a = "Saya anak sholeh"
print(a)

Saya anak sholeh

In [88]:
print(a.upper())
print(a.lower())
print(a.swapcase())
print(a.title())
print(a.capitalize())

SAYA ANAK SHOLEH
saya anak sholeh
sAYA ANAK SHOLEH
Saya Anak Sholeh
Saya anak sholeh

# List
tipe data yang ada banyak data di satu tempat []

In [89]:
kelas = ["iman","ammar","zahrah","mudz","Ihsan"]

In [90]:
print(kelas)

['iman', 'ammar', 'zahrah', 'mudz', 'Ihsan']

In [94]:
print(kelas[0])
print(kelas[4])
print(kelas[2])

iman
Ihsan
zahrah

In [97]:
# apabila banyak harus pakai print
kelas[1]
kelas[4]
kelas[2]

'zahrah'

In [101]:
# nambah "ryan" ke kelas .append
kelas.append("ryan")

In [102]:
print(kelas)

['iman', 'ammar', 'zahrah', 'mudz', 'Ihsan', 'ryan']

In [103]:
# mengurangkan mudz
kelas.remove("mudz")

In [104]:
print(kelas)

['iman', 'ammar', 'zahrah', 'Ihsan', 'ryan']

In [105]:
kelas.append("mudz")
print(kelas)

['iman', 'ammar', 'zahrah', 'Ihsan', 'ryan', 'mudz']

In [106]:
# ubah ihsan menjadi huruf besar
# murid ke 3
# murid ke 2
kelas[3] = kelas[3].upper()
print(kelas)

['iman', 'ammar', 'zahrah', 'IHSAN', 'ryan', 'mudz']

tambahan
-  isi List bisa tipe data apapun, campur juga boleh
- index tidak harus positif 0,1,2,3,4... bisa juga hitung mundur dari kanan ke kiri -1 -2...

In [108]:
random_list = [123, 4.6,  "a", True, None, ["a", "n", "d"], 0]
print(random_list)

[123, 4.6, 'a', True, None, ['a', 'n', 'd'], 0]

In [111]:
#ambil murid terakhir
print(kelas[-1])
print(kelas)

mudz
['iman', 'ammar', 'zahrah', 'IHSAN', 'ryan', 'mudz']

In [145]:
# ambil murid ke 3 dan 4
# index ke 3 dan 4
print(kelas[1:3])

['ammar', 'zahrah']

In [125]:
print(kelas + ["kevin" , "john"])

['iman', 'ammar', 'zahrah', 'IHSAN', 'ryan', 'mudz', 'kevin', 'john']

In [126]:
# Beda dengan .append

In [122]:
"kevin" in kelas

False

In [127]:
"IHSAN" in kelas

True

In [169]:
print("apel"*3)

apelapelapel

# Tuple
mirip list tapi isinya tidak boleh diubah

In [132]:
# membuat tuple dengan ()
nilai = ()
print(type(nilai))

<class 'tuple'>

In [142]:
nilai = (60,70,50)
print(nilai[0])
print(nilai[2])

60
50

# Dictionary
- seperti membuat list yang index nya kita custom sendiri
- seperti membuat objek dan mendeskripsikan ke komputer, misalnya orang itu apam orang itu punya nama, namanya apa? dst

setiap item yang ada di dalam dictionary adalah sepasang index: value

In [146]:
# bikin orang
orang = {}
print(type(orang))

<class 'dict'>

In [165]:
orang = {
    "nama" : "andhika",
    "umur" : 20,
    "hobi" : ["makan","tidur","programming"]
}

print(orang)

{'nama': 'andhika', 'umur': 20, 'hobi': ['makan', 'tidur', 'programming']}

In [155]:
print(orang["nama"])

andhika

In [156]:
print(orang["umur"])

20

In [157]:
print(orang["hobi"])

['makan', 'tidur', 'programming']

In [159]:
print(orang["hobi"][-1])

programming

In [166]:
# edit dictionary (tambahkan nama belakang widjaja)
orang["nama"] = orang["nama"] + " widjaja"
print(orang)

{'nama': 'andhika widjaja', 'umur': 20, 'hobi': ['makan', 'tidur', 'programming']}

In [167]:
orang["hobi"].append('sepeda')
print(orang)

{'nama': 'andhika widjaja', 'umur': 20, 'hobi': ['makan', 'tidur', 'programming', 'sepeda']}

In [174]:
orang = {}
print(orang)

{}

In [175]:
orang["nama"] = "budi"
print(orang)

{'nama': 'budi'}

In [176]:
orang["umur"] = "15"
print(orang)

{'nama': 'budi', 'umur': '15'}

In [183]:
orang ["berkacamata"] = False
orang ["bertato"] = True
orang ["menikah"] = False

print(orang)

{'nama': 'budi', 'umur': '15', 'berkacamata': False, 'bertato': True, 'menikah': False}

In [191]:
{'nama' : "budi",
 'umur' : 15
}

{'nama': 'budi', 'umur': 15}